@inject NavigationManager NavigationManager
@inject IProductService ProductService
<div class="search">
    <input @bind-value="searchText"
           @bind-value:event="oninput"
           type="search"
           list="products"
           @onkeyup="HandleSearch"
           class="form-control"
           placeholder="Tìm kiếm sản phẩm ít nhất 3 kí tự trở lên"
           @ref="searchInput" />
    <datalist id="products">
        @foreach (var suggestion in suggestions)
        {
            <option>@suggestion</option>
        }
    </datalist>
    <i class='bx bx-search-alt' @onclick="SearchProducts"></i>
</div>
@code {
    private string searchText = string.Empty;
    private List<string> suggestions = new List<string>();
    protected ElementReference searchInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchInput.FocusAsync();
        }
    }

    public void SearchProducts()
    {
        NavigationManager.NavigateTo($"search/{searchText}");
    }

    public async Task HandleSearch(KeyboardEventArgs args)
    {
        if ((args.Key == null || args.Key.Equals("Enter")) && searchText.Length >= 3)
        {
            SearchProducts();
        }
        else if (searchText.Length >= 3)
        {
            suggestions = await ProductService.GetProductSearchSuggestions(searchText);
        }
    }
}
