@page "/user/setting/{id}"

@inject Microsoft.Extensions.Configuration.IConfiguration config;
@using System.Net;
@inject IToastService _toastSvc;
@inject AuthenticationStateProvider auth
@inject NavigationManager NavigationManager
@using PoPoy.Shared.ViewModels
@inject IAuthService AuthService;

@attribute [Authorize]
<UserNav></UserNav>
<PageInfos Title="Cài đặt"></PageInfos>
<section class="dashboard-area">
    <div class="dashboard_contents">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ChangePassword></ChangePassword>
                    <AddressForm></AddressForm>
                </div>
                <div class="col-lg-6">
                    <UserAvatar id="@id"></UserAvatar>
                </div>

            </div>

        </div>
    </div>
</section>

@code {
    [Parameter] public string id { get; set; }
    public Area areas { get; set; } = new Area();
    protected override async Task OnInitializedAsync()
    {

    }
}