

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.card-chat {
    max-height: calc(100vh - 80px)
}
.text-field-search label {
    display: inline-block;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
}

.text-field-search input {
    outline: none;
    padding: 10px 0;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #6a5af9;
    background-color: transparent;
    color: #6a5af9;
}