@inject ICategoryService CategoryService
@inject IProductService _productSvc
@if (name != null)
{
    <PageInfos Title="@name"></PageInfos>
}
<div class="box">
    <h3 class="filter-header">
        Danh mục
    </h3>
    <ul class="filter-list">
        @foreach (var category in CategoryService.Categories)
        {
            <li><a href="/category/@category.Url" style="width:1000px" @onclick="()=>OnClicked(category.Name)">@category.Name</a></li>
        }
    </ul>
</div>
@if (ShowFiller)
{
    <div class="box">
        <span class="filter-header">
            Màu
        </span>
        <ul class="filter-list">

            @if (productColors != null)
            {
                <RadzenCheckBoxList @bind-Value=@ColorIdSelecteds Change="OnSelectColor" TValue="int" Orientation="Orientation.Vertical"
                            Data="@productColors" TextProperty="ColorName" ValueProperty="Id" />
            }
            else
            {
                <li><em>Không có màu nào !</em></li>
            }
        </ul>
    </div>
    <div class="box">
        <span class="filter-header">
            Kích cỡ
        </span>
        <ul class="filter-list">

            @if (productColors != null)
            {
                <RadzenCheckBoxList @bind-Value=@SizeIdSelecteds Change="OnSelectSize" TValue="int" Orientation="Orientation.Vertical"
                            Data="@productSizes" TextProperty="SizeName" ValueProperty="Id" />
            }
            else
            {
                <li><em>Không có size nào !</em></li>
            }
        </ul>
    </div>
}

@code {
    public string name { get; set; }
    [Parameter]
    public ProductParameters productParameters{ get; set; }
    [Parameter]
    public EventCallback<IEnumerable<int>> ColorChanged { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<int>> SizeChanged { get; set; }

    [Parameter]
    public bool ShowFiller { get; set; } = true;
    List<ProductColor> productColors = new List<ProductColor>();
    List<ProductSize> productSizes = new List<ProductSize>();
    IEnumerable<int> ColorIdSelecteds = new int[] {  };
    IEnumerable<int> SizeIdSelecteds = new int[] {  };
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        productColors = await _productSvc.GetAllColorProduct();
        productSizes = await _productSvc.GetAllSizeProduct();
    }
    async Task OnSelectColor()
    {
        await ColorChanged.InvokeAsync(ColorIdSelecteds);
    }
    async Task OnSelectSize()
    {
        await SizeChanged.InvokeAsync(SizeIdSelecteds);
    }
    public void OnClicked(string name)
    {
        this.name = name;
    }

}
