@inject ICategoryService CategoryService
@inject IProductService _productSvc


<div class="box">
    <span class="filter-header">
        Màu
    </span>
    <ul class="filter-list">
       
        @if (productColors != null)
        {
            <RadzenCheckBoxList @bind-Value=@ColorIdSelecteds Change="OnSelectColor" TValue="int" Orientation="Orientation.Vertical"
                            Data="@productColors" TextProperty="ColorName" ValueProperty="Id" />
        }
        else
        {
            <li><em>Không có màu nào !</em></li>
        }
    </ul>
</div>
<div class="box">
    <span class="filter-header">
        Kích cỡ
    </span>
    <ul class="filter-list">

        @if (productColors != null)
        {
            <RadzenCheckBoxList @bind-Value=@SizeIdSelecteds Change="OnSelectSize" TValue="int" Orientation="Orientation.Vertical"
                            Data="@productSizes" TextProperty="SizeName" ValueProperty="Id" />
        }
        else
        {
                <li><em>Không có size nào !</em></li>
        }
    </ul>
</div>

@code {
    public string name { get; set; }
    [Parameter]
    public ProductParameters productParameters{ get; set; }
    [Parameter]
    public EventCallback<IEnumerable<int>> ColorChanged { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<int>> SizeChanged { get; set; }
    List<ProductColor> productColors = new List<ProductColor>();
    List<ProductSize> productSizes = new List<ProductSize>();
    IEnumerable<int> ColorIdSelecteds = new int[] {  };
    IEnumerable<int> SizeIdSelecteds = new int[] {  };
    protected override async Task OnInitializedAsync()
    {
        productColors = await _productSvc.GetAllColorProduct();
        productSizes = await _productSvc.GetAllSizeProduct();
    }
    async void OnSelectColor()
    {
        await ColorChanged.InvokeAsync(ColorIdSelecteds);
    }
    async void OnSelectSize()
    {
        await SizeChanged.InvokeAsync(SizeIdSelecteds);
    }
    public void OnClicked(string name)
    {
        this.name = name;
    }

}
