
<div id="body">

    <button @onclick="OpenChat" id="chat-circle"  class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="fab fa-rocketchat fa-2x"></i>
    </button>


    @if (showChat)
    {
        <div class="chat-box">
            <div class="chat-box-header">
                Hộp thư hỗ trợ
                <span @onclick="CloseChat" class="chat-box-toggle"><i class="fas fa-times"></i></span>
            </div>
            <div class="chat-box-body">
                <div class="chat-box-overlay">
                </div>
                <div class="chat-logs">

                </div><!--chat-log -->
            </div>
            <div class="chat-input">
                <form>
                    <input type="text" id="chat-input" placeholder="Send a message..." />
                    <button type="submit" class="chat-submit" id="chat-submit"><i class="far fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    }

</div>