@inject NavigationManager uriHelper

<a href="@Uri" class="@Class" @onclick="HandleClick">@Title</a>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Uri{ get; set; }

    private void HandleClick()
    {
        uriHelper.NavigateTo(Uri, true);
    }
}
