@inject ICartService CartService
@using PoPoy.Client.Services.CartService
@using PoPoy.Shared.Dto

<div class="d-flex flex-row align-items-center mt-3">
    <span>Số lượng&nbsp; </span>
    <EditForm Model="@Model">
        <InputNumber class="form-control w-100" Value="@Model.Quantity" ValueExpression="@(() => Model.Quantity)"
                     ValueChanged="@((int value) => OnQuantityChanged(value, Model))"
                     style="width: 50px;">
        </InputNumber>
    </EditForm>
</div>

@code{
    [Parameter]
    public Cart Model { get; set; } 

    [Parameter]
    public CartUpdateType CartUpdateType { get; set; }

    [Parameter]
    public EventCallback QuantityChanged { get; set; }

    private async void OnQuantityChanged(int quantity, Cart cart)
    {
        Model.Quantity = quantity;
        if (CartUpdateType is CartUpdateType.Update)
        {
            await CartService.UpdateAsync(cart.ToCartStorage());
        }

        await QuantityChanged.InvokeAsync();
    }

}
