@page "/createProduct"

@inject IProductService ProductService
@inject NavigationManager NavigationManager

<h1 class="mt-4 ml-3 mb-3">Tạo mới sản phẩm</h1>
<div class="card-body ml-3">
    <EditForm Model="Product" OnValidSubmit="Create">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="title">Tên sản phẩm</label>
            <InputText id="title" class="form-control" @bind-Value="Product.Title"></InputText>
            <ValidationMessage For="()=> Product.Title"></ValidationMessage>
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <InputText id="description" class="form-control" @bind-Value="Product.Description"></InputText>
            <ValidationMessage For="()=> Product.Description"></ValidationMessage>
        </div>
        <div class="form-group">
            <label for="price">Giá</label>
            <InputNumber id="price" class="form-control" @bind-Value="Product.Price"></InputNumber>
            <ValidationMessage For="()=> Product.Price"></ValidationMessage>
        </div>
        <div class="form-group">
            <label for="originalPrice">Giá gốc</label>
            <InputNumber id="originalPrice" class="form-control" @bind-Value="Product.OriginalPrice"></InputNumber>
            <ValidationMessage For="()=> Product.OriginalPrice"></ValidationMessage>
        </div>
        <div class="form-group">
            <label for="quantity">Số lượng</label>
            <InputNumber id="quantity" class="form-control" @bind-Value="Product.Quantity"></InputNumber>
            <ValidationMessage For="()=> Product.Quantity"></ValidationMessage>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <InputNumber id="stock" class="form-control" @bind-Value="Product.Stock"></InputNumber>
            <ValidationMessage For="()=> Product.Stock"></ValidationMessage>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Lưu lại</button>
    </EditForm>
</div>

@code {
    public ProductCreateRequest Product = new ProductCreateRequest();
    private async Task Create()
    {
        await ProductService.CreateProduct(Product);
    }
}
