@page "/"
@inject IJSRuntime JSRuntime
@inject IProductService _productSvc;
@using PoPoy.Client.Services.ProductService
@using PoPoy.Shared.Dto;
@using PoPoy.Shared.Paging
<PageInfos Title="Trang chủ"></PageInfos>
<!-- hero section -->
<Carosel></Carosel>
<!-- end hero section -->
<!-- product list -->
<BestSellingProduct></BestSellingProduct>
<!-- end product list -->
<!-- blogs -->
<div class="section">
    <div class="container">
        <div class="section-header">
            <h2>latest blog</h2>
        </div>
        <div class="blog">
            <div class="blog-img">
                <img src="./images/JBL_Quantum400_Lifestyle1.png" alt="">
            </div>
            <div class="blog-info">
                <div class="blog-title">
                    Lorem ipsum dolor sit amet
                </div>
                <div class="blog-preview">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, eligendi dolore. Sapiente omnis numquam mollitia asperiores animi, veritatis sint illo magnam, voluptatum labore, quam ducimus! Nisi doloremque praesentium laudantium repellat.
                </div>
                <button class="btn-flat btn-hover">read more</button>
            </div>
        </div>
        <div class="blog row-revere">
            <div class="blog-img">
                <img src="./images/JBL_TUNE220TWS_Lifestyle_black.png" alt="">
            </div>
            <div class="blog-info">
                <div class="blog-title">
                    Lorem ipsum dolor sit amet
                </div>
                <div class="blog-preview">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, eligendi dolore. Sapiente omnis numquam mollitia asperiores animi, veritatis sint illo magnam, voluptatum labore, quam ducimus! Nisi doloremque praesentium laudantium repellat.
                </div>
                <button class="btn-flat btn-hover">read more</button>
            </div>
        </div>
        <div class="section-footer">
            <a href="#" class="btn-flat btn-hover">view all</a>
        </div>
    </div>
</div>
<!-- end blogs -->

@code{

}