@page "/payment-thanks"
@layout EmptyLayout
<div class="jumbotron text-center">
    <h1 class="display-3">Cảm ơn đã mua hàng!</h1>
    <p class="lead"><strong>Hãy kiểm tra email</strong> của bạn.</p>
    <hr>
    <p>
        Gặp sự cố? <ReloadPage Uri="/" Title="Liên hệ ngay"></ReloadPage>
    </p>
    <p class="lead">
        <ReloadPage Title="Quay lại trang chủ" Uri="/"></ReloadPage>
        <br />
        <AuthorizeView>
            <Authorized>
                <a href="/user/list-order/@context.User.GetUserId()">Xem lịch sử mua hàng</a>
            </Authorized>
        </AuthorizeView>
    </p>
</div>