@page "/payment-thanks"
@layout EmptyLayout
<div class="text-center">
    <header class="site-header" id="header" style="display:flex;justify-content: center;
align-items: center;">
        <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
    </header>

    <div class="main-content">
        <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
        <p class="main-content__body" data-lead-id="main-content-body">Cảm ơn quý khách đã đặt hàng. Chúng tôi sẽ gửi mail sau ít phút !</p>
    </div>

        <AuthorizeView>
            <Authorized>
                <a href="/user/list-order">Xem lịch sử mua hàng</a>
            </Authorized>
        </AuthorizeView>

</div>