@page "/payment-thanks"
@layout EmptyLayout
<div class="jumbotron text-center">
    <h1 class="display-3">Cảm ơn đã mua hàng!</h1>
    <p class="lead"><strong>Hãy kiểm tra email</strong> của bạn.</p>
    <hr>
    <p>
        Gặp sự cố? <a href="/">Liên hệ ngay</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Quay lại trang chủ</a>
    </p>
</div>